* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #f0fdfa;
    color: #222;
}

header {
    background: #0f766e;
    color: white;
    padding: 20px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 12px;
}

.hero {
    text-align: center;
    padding: 70px 20px;
    background: #ccfbf1;
}

.hero h2 {
    font-size: 38px;
}

section {
    padding: 45px 7%;
    text-align: center;
}

.doctors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 30px;
}

.doctor {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 15px #ccc;
}

.icon {
    font-size: 65px;
}

button {
    background: #0f766e;
    color: white;
    border: none;
    padding: 13px 20px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #115e59;
}

.form {
    background: white;
    max-width: 600px;
    margin: auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px #ccc;
}

input,
select {
    width: 100%;
    padding: 13px;
    margin: 9px 0;
    border: 1px solid #bbb;
    border-radius: 6px;
}

#confirmation {
    margin-top: 20px;
    padding: 15px;
    background: #ecfdf5;
    border-radius: 8px;
}

footer {
    background: #0f766e;
    color: white;
    text-align: center;
    padding: 20px;
}

@media(max-width: 700px) {
    .doctors {
        grid-template-columns: 1fr;
    }

    header {
        flex-direction: column;
        gap: 15px;
    }
}